:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
}

/* *,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  display: block;
  background-origin: 0 0;
  color: #000;
  background-color: #fff;
}

#app-root {
  flex: 1;
  position: relative;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  display: block;
  border-radius: 10px;
  background-color: #f5f5f5;
}

a {
  color: #000;
  text-decoration: none;
}

a[data-route-active="true"] {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  color: #d00;
  font-weight: bold;
}
